.post{
    display: flex;
    flex-direction: column;
    // background: #ece6f1 ;
    gap: 25px;

    .posts{
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(222, 209, 241);
        border-radius: 15px;
        padding: 10px;
    }
}