.leftMainBar{
    flex: 2;
    overflow-y: auto; 
    overflow-x: hidden; 
    background: #ece6f1 ;
    width: 11%;
    padding: 10px 20px;
    height: 100%;
    position: fixed;

    &::-webkit-scrollbar{
        display: none;
    }
}

.leftMainBar .content{
    /* height: 90%; */
    margin-bottom: 120px;
}

hr{
    margin-top: 25px;
}

.topSec{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.topSec img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.topSec p{
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

/* Mid Section */
.midSec h4{
    margin: 10px auto;
    margin-top: 30px;
}

/* BOTTOM SECTION */
.bottomSec h4{
    margin: 10px auto;
    margin-top: 30px;
}

@media (max-width: 900px){
    .topSec{
        display: flex;
        flex-direction: column;
    }
    .topSec img{
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    .topSec p{
        font-weight: 500;
        font-size: 16px;
    }
    .midSec h4{
        margin-top: 45px;
        text-align: center;
    }
    .bottomSec h4{
        margin-top: 45px;
        text-align: center;
    }
}