.login{
    height: 100vh;
    background: linear-gradient(130deg, rgb(83, 85, 200), purple);
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 5% 20%;
    .card{
        display: flex;
        border-radius: 5px;
        height: 70%;
        border: 1px solid #fff;
        .leftDiv{
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 8% 10%;
            background: linear-gradient(rgba(63, 71, 97, 0.6), rgba(39, 11, 96, 0.6)), url('../../assets/image1.jpeg');
            color: #fff;
            background-size: cover;
            background-position: center;
            h1{
                font-size: 45px;
                opacity: 2;
            }
            p{
                font-size: 20px;
                // color: purple;
            }
            span{
                color: black;
                font-size: 20px;
                margin-bottom: 30px;
            }
            button{
                width: 100%;
                padding: 5px 5px;
                font-size: 22px;
                border: none;
                font-weight: 600;
                margin-top: 10px;
                cursor: pointer;
                border-radius: 5px;
            }
            button:hover{
                background: purple;
                color: #fff;
                transition: all 0.5s linear;
            }
        }

        .rightDiv{
            flex: 1;
            background-color: #fff;
            padding: 8% 10%;
            h1{
                margin-bottom: 10px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                width: 100%;
                input{
                    width: 100%;
                    height: 40px;
                    border: none;
                    padding: 0 5px;
                    font-size: 17px;
                    border-bottom: 1px solid grey;
                }
                button{
                    width: 100%;
                    height: 40px;
                    background: purple;
                    color: #fff;
                    border: none;
                    font-size: 25px;
                    border-radius: 5px;
                }
            }
        }
    }
}