@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Matemasie&family=Outfit:wght@100..900&family=Playwrite+BE+WAL:wght@100..400&display=swap');

.main{
    flex: 1;
    min-height: 100vh;
    /* padding-bottom: 15vh; */
    position: relative;
    align-items: center;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(227, 227, 224);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #585858;
}
.main .nav p{
    line-height: 20px;
    letter-spacing: 3px;
}
.nav img{
    width: 50px;
    height: 50px;
    border: solid 3px white;
    border-radius: 50%;
    cursor: pointer;
}
.nav img:hover{
    width: 52px;
    height: 52px;
    border: solid 3px rgb(166, 201, 244);
    border-radius: 50%;
    transition: all 0.7s ease-in;
}
.mainContainer{
    max-width: 1000px;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}
.mainContainer .salute{
    margin: 50px 0px;
    font-size: 50px;
    font-family: Lobster;
    color: #858486;
    padding: 20px;
    font-weight: 600;
}
.mainContainer .salute span{
    background: -webkit-linear-gradient(19deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainContainer .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 40px;
    /* margin-bottom: 70px; */
}
@media(max-width:600px){
    .cards .card{
        display: grid;
    }
}

.cards .card{
    align-content: center;
    height: 200px;
    padding: 20px;
    border: 1px solid #976560;
    border-radius: 19px;
    position: relative;
    cursor: pointer;
}
.cards .card:hover{
    background: linear-gradient(150deg,#0641a0,#f8220f);
    color: #fff;
    transition: all  0.9s ease-in-out;
    font-size: 18px;
}

.cards .card img{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 13px;
    padding: 7px;
    bottom: 12px;
    right: 12px;
}
.cards .card p{
    font-size: 18px;
}
.mainBottom{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    /* align-items: baseline; */
    position: absolute;
    bottom: 0;
    padding: 0px 20px;
}
.mainBottom .searchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    background-color: rgb(224, 229, 254);
    border-radius: 50px;
}
.searchBox input{
    flex: 1;
    outline: none;
    background: transparent;
    height: 40px;
    padding: 15px;
    font-size: 17px;
    border: none;
}
.bottomImages{
    display: flex;
    gap: 20px;
}
.bottomImages img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: rgb(193, 214, 231);
    padding: 8px;
    border-radius: 25px;
}
.mainBottom .bottomInfo{
    padding: 10px 20px;
    color: #616465;
    font-weight: 600;
    margin: 15px auto;
    text-align: center;
}

.result{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* padding: 0px 5%; */
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 130px;
}
.result::-webkit-scrollbar{
    display: none;
}


.result .resultTitle{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 15px;

}
.result .resultTitle img{
    width: 45px;
    border-radius: 50%;
}
.result .resultTitle p{
    color: #3e3c3c;
}

.resultData{
    display: flex;
    align-items: start;
    gap: 15px;
    /* margin-bottom: 200px; */
}
.resultData img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.resultData p{
    color: #3b3b3b;
    text-align: justify;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
/* @media (max-width:600px){
    .mainBottom input{
        flex: none;
        width: 150px;
    }
} */